{% extends 'main.html' %}

{% block content %}
<div class="edit-container">
    <div class="edit-title">
        <h2>Edit task</h2>
    </div>
    <div class="edit">
        <form action="" method="POST" class="edit-form">
            {% csrf_token %}
            {{form.as_p}}
            <div class="edit-div">
                <a href="{{request.META.HTTP_REFERER}}"> <i class="fa-solid fa-arrow-left"></i> Go back</a>
                <input type="submit" value="confirm" class="edit-button">
            </div>
        </form>
    </div>
</div>
{% endblock content %}